<div class="mat-elevation-z8 fixed z-[2] top-0 left-0 right-0">
  <mat-toolbar color="primary" *transloco="let t; read:'header'">
    <ng-container *ngIf="(isMobile$ | async)!">
      <button mat-button class="app-menu-button" (click)="toggleSidenav.emit()">
        <i class="material-icons">menu</i>
      </button>
    </ng-container>
    <a routerLink="/">
      <img class="mx-auto h-10 w-auto" src="/assets/img/logo_name.svg" alt="VTES Events" />
    </a>
    <ng-container *ngIf="!(isMobile$ | async)!">
      <div class="flex grow items-center justify-center text-center">
        <a routerLink="/events">{{ t('events') }}</a>
      </div>
      <a class="me-1" routerLink="/contact">{{ t('contact') }}</a>
      <app-language-selector class="me-1"></app-language-selector>
      <app-theme-selector class="me-1"></app-theme-selector>
      <button *isLogged="false" mat-stroked-button color="accent" routerLink="/users/sign_in" class="me-1">
        {{ t('sign_in') }}
      </button>
      <button *isLogged="false" mat-raised-button color="accent" routerLink="/users/sign_up">
        {{ t('sign_up') }}
      </button>
      <button mat-icon-button *isLogged="true" [attr.aria-label]="t('user')" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/users/profile">
          {{ t('profile') }}
        </button>
        <button mat-menu-item (click)="signOut()">
          {{ t('sign_out') }}
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
</div>