<div class="isolate px-6 py-14 sm:py-22 lg:px-8" *transloco="let t; read: 'manage.create'">
  <div>
    <h1 class="mt-6 text-center">{{ t("title") }}</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="onCreateEvent()" class="mx-auto max-w-xl mt-8">
    <div>
      <mat-form-field appearance="fill" class="input-form-field">
        <mat-label>{{ t("eventId.hint") }}</mat-label>
        <input matInput [placeholder]="t('eventId.placeholder')" formControlName="eventId" required type="number" />
        <mat-error *ngIf="eventId?.invalid">
          <span *ngIf="eventId?.errors?.['required']">
            {{ t("required_field") }}
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex justify-center mb-5" *ngIf="eventLoading">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="!eventLoading && organizerVeknId?.value">
      <h2>{{ t("info") }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("name.hint") }}</mat-label>
          <input matInput formControlName="name" readonly />
          <mat-error *ngIf="name?.invalid">
            <span *ngIf="name?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
        <div class="grid grid-cols-2 gap-1">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ t("date.hint") }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" readonly />
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="date?.invalid">
              <span *ngIf="date?.errors?.['required']">
                {{ t("required_field") }}
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ t("time.hint") }}</mat-label>
            <input matInput formControlName="time" readonly />
            <mat-error *ngIf="time?.invalid">
              <span *ngIf="time?.errors?.['required']">
                {{ t("required_field") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <h2>{{ t("location") }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("venueName.hint") }}</mat-label>
          <input matInput formControlName="venueName" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("address.hint") }}</mat-label>
          <input matInput formControlName="address" readonly />
          <mat-error *ngIf="address?.invalid">
            <span *ngIf="address?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("city.hint") }}</mat-label>
          <input matInput formControlName="city" readonly />
          <mat-error *ngIf="city?.invalid">
            <span *ngIf="city?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("country.hint") }}</mat-label>
          <input matInput formControlName="country" readonly />
          <mat-error *ngIf="country?.invalid">
            <span *ngIf="country?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <h2>{{ t("settings") }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("eventType.hint") }}</mat-label>
          <input matInput formControlName="eventType" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("rounds.hint") }}</mat-label>
          <input matInput formControlName="rounds" readonly />
          <mat-error *ngIf="rounds?.invalid">
            <span *ngIf="rounds?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("showDeckPolicy.hint") }}</mat-label>
          <mat-select formControlName="showDeckPolicy" required>
            <mat-option [value]="showTypePolicy.N">{{ t('showDeckPolicy.none') }}</mat-option>
            <mat-option [value]="showTypePolicy.A">{{ t('showDeckPolicy.all') }}</mat-option>
            <mat-option [value]="showTypePolicy.F">{{ t('showDeckPolicy.finalists') }}</mat-option>
            <mat-option [value]="showTypePolicy.W">{{ t('showDeckPolicy.winner') }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("registrationFee.hint") }}</mat-label>
          <input matInput [placeholder]="t('registrationFee.placeholder')" formControlName="registrationFee" />
          <mat-error *ngIf="registrationFee?.invalid">
            <span *ngIf="registrationFee?.errors?.['required']">
              {{ t("required_field") }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("email.hint") }}</mat-label>
          <input matInput [placeholder]="t('email.placeholder')" type="email" formControlName="email" />
          <mat-error *ngIf="email?.invalid">
            <span *ngIf="email?.errors?.['email']">
              {{ t("email.invalid") }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("phoneNumber.hint") }}</mat-label>
          <input matInput [placeholder]="t('phoneNumber.placeholder')" formControlName="phoneNumber" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("website.hint") }}</mat-label>
          <input matInput [placeholder]="t('website.placeholder')" formControlName="website" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-span-full w-full">
          <mat-label>{{ t("description.hint") }}</mat-label>
          <textarea matInput [placeholder]="t('description.placeholder')" formControlName="description"
            cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>
        <mat-slide-toggle formControlName="proxiesAllowed">
          {{ t("proxiesAllowed.hint") }}
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="registrationOpen">
          {{ t("registrationOpen.hint") }}
        </mat-slide-toggle>

      </div>
    </ng-container>
    <div *ngIf="error">
      <mat-error class="text-center mb-3">
        {{ error | mapError | async }}
      </mat-error>
    </div>
    <div class="flex gap-2 justify-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ t("create") }}
      </button>
      <button mat-raised-button type="button" routerLink="/events">
        {{ t("cancel") }}
      </button>
    </div>
  </form>
</div>