<section class="max-w-4xl p-6 mx-auto" *transloco="let t; read: 'users'">
  <div class="flex justify-center items-center gap-x-2">
    <h1 class="text-xl font-semibold capitalize">
      {{ firstName$ | async }}&nbsp;{{ lastName$ | async }}
    </h1>
    <p class="text-base text-gray-400">#{{ veknId$ | async }}</p>
  </div>
  <h2 class="text-lg font-semibold">{{ t("profile.about") }}</h2>
  <div class="grid md:grid-cols-2 text-base mb-4">
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">{{ t("profile.firstName") }}</div>
      <div class="px-4 py-2">{{ firstName$ | async }}</div>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">{{ t("profile.lastName") }}</div>
      <div class="px-4 py-2">{{ lastName$ | async }}</div>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">{{ t("profile.username") }}</div>
      <div class="px-4 py-2">{{ username$ | async }}</div>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">{{ t("profile.email") }}</div>
      <div class="px-4 py-2">{{ email$ | async }}</div>
    </div>
    <div class="grid grid-cols-2">
      <div class="px-4 py-2 font-semibold">{{ t("profile.veknId") }}</div>
      <div class="px-4 py-2">{{ veknId$ | async }}</div>
    </div>
  </div>
  <h2 class="text-lg font-semibold mt-4">{{ t("profile.settings") }}</h2>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="grid grid-cols-1 gap-3 mt-4 md:grid-cols-3 justify-center">
      <div>
        <input hidden type="text" autocomplete="username" />
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("oldPassword.hint") }}</mat-label>
          <input
            matInput
            [placeholder]="t('oldPassword.placeholder')"
            [type]="hideOldPassword ? 'password' : 'text'"
            formControlName="oldPassword"
            autocomplete="current-password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleOldPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideOldPassword"
          >
            <mat-icon>{{
              hideOldPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="oldPassword?.invalid">
            <span *ngIf="oldPassword?.errors?.['required']">
              {{ t("field") }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("newPassword.hint") }}</mat-label>
          <input
            matInput
            [placeholder]="t('newPassword.placeholder')"
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
            autocomplete="new-password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleNewPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword"
          >
            <mat-icon>{{
              hideNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword?.invalid">
            <span *ngIf="newPassword?.errors?.['required']">
              {{ t("field") }}
            </span>
            <span *ngIf="newPassword?.errors?.['hasNumber']">
              {{ t("password.number") }}
            </span>
            <span *ngIf="newPassword?.errors?.['minlength']">
              {{ t("password.length") }}
            </span>
            <span *ngIf="newPassword?.errors?.['noPasswordMatch']">
              {{ t("password.match") }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ t("confirmPassword.hint") }}</mat-label>
          <input
            matInput
            [placeholder]="t('confirmPassword.placeholder')"
            [type]="hideConfirmNewPassword ? 'password' : 'text'"
            formControlName="confirmNewPassword"
            autocomplete="new-password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleConfirmNewPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmNewPassword"
          >
            <mat-icon>{{
              hideConfirmNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmNewPassword?.invalid">
            <span *ngIf="confirmNewPassword?.errors?.['required']">
              {{ t("field") }}
            </span>
            <span *ngIf="confirmNewPassword?.errors?.['hasNumber']">
              {{ t("password.number") }}
            </span>
            <span *ngIf="confirmNewPassword?.errors?.['minlength']">
              {{ t("password.length") }}
            </span>
            <span *ngIf="confirmNewPassword?.errors?.['noPasswordMatch']">
              {{ t("password.match") }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-error class="text-center whitespace-pre-wrap" *ngIf="error">
      {{ error | mapError | async }}
    </mat-error>
    <mat-hint class="flex justify-end text-green-600" *ngIf="success">
      {{ t("profile.password_changed") }}
    </mat-hint>
    <div class="flex justify-end mt-4">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="w-40"
        [disabled]="form.invalid"
        *ngIf="!loading; else buttonLoading"
      >
        {{ t("profile.save") }}
      </button>
      <ng-template #buttonLoading>
        <button
          mat-raised-button
          color="primary"
          class="w-40"
          [disabled]="true"
        >
          <mat-spinner [diameter]="30"></mat-spinner>
        </button>
      </ng-template>
    </div>
  </form>
</section>
