<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8" *transloco="let t; read: 'users'">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold">
        {{ t("sign_in_title") }}
      </h2>
    </div>
    <form class="mt-8 space-y-6" [formGroup]="form" (ngSubmit)="captchaRef.execute()">
      <input type="hidden" name="remember" value="true" />
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("username.hint") }}</mat-label>
            <input matInput [placeholder]="t('username.placeholder')" formControlName="username" autocomplete="username"
              required />
            <mat-error *ngIf="username?.invalid">
              <span *ngIf="username?.errors?.['required']">
                {{ t("field") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("password.hint") }}</mat-label>
            <input matInput [placeholder]="t('password.placeholder')" [type]="hidePassword ? 'password' : 'text'"
              formControlName="password" autocomplete="password" required />
            <button mat-icon-button matSuffix type="button" (click)="togglePassword()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            <mat-error *ngIf="password?.invalid">
              <span *ngIf="password?.errors?.['required']">
                {{ t("field") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <mat-checkbox formControlName="remember" color="primary">
            {{ t("remember_me") }}
          </mat-checkbox>
        </div>

        <div class="text-sm">
          <a mat-button color="primary" class="font-medium" routerLink="/users/forgot_password">
            {{ t("forgot_password") }}
          </a>
        </div>
      </div>
      <mat-error class="text-center mb-3 whitespace-pre-wrap" *ngIf="error">
        {{ error | mapError | async }}
      </mat-error>
      <mat-hint class="flex justify-end text-green-600 whitespace-pre-wrap text-right" *ngIf="verify">
        {{ t("account_verified") }}
      </mat-hint>
      <div class="flex items-center justify-center">
        <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="signIn($event)"></re-captcha>
      </div>
      <div>
        <button mat-raised-button type="submit" color="primary" class="w-full" [disabled]="form.invalid"
          *ngIf="!(userLoading$ | async)!; else buttonLoading">
          <mat-icon>lock_open</mat-icon>
          {{ t("sign_in_button") }}
        </button>
        <ng-template #buttonLoading>
          <button mat-raised-button color="primary" class="w-full" [disabled]="true">
            <mat-spinner [diameter]="30"></mat-spinner>
          </button>
        </ng-template>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-sm">
          <a mat-button color="primary" class="font-medium" routerLink="/users/sign_up">
            {{ t("do_not_have_account") }}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>