<ng-container *transloco="let t">
  <button mat-button *ngIf="(isMobile$ | async)!" [attr.aria-label]="t('header.theme')" (click)="toggleTheme()">
    <mat-icon>{{ icon }}</mat-icon>{{ t('header.theme') }}
  </button>
  <button mat-icon-button *ngIf="!(isMobile$ | async)!" [attr.aria-label]="t('header.theme')" (click)="toggleTheme()">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-container>