<main
  class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8"
  *transloco="let t; read: 'page_not_found'"
>
  <div class="text-center" *ngIf="error">
    <mat-error
      class="w-full font-semibold text-center mb-3 whitespace-pre-wrap"
    >
      {{ error | mapError | async }}
    </mat-error>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button mat-raised-button color="primary" routerLink="/">
        {{ t("home_button") }}
      </button>
      <a mat-button class="text-sm font-semibold" routerLink="/contact"
        >{{ t("contact_button") }}&nbsp;<span aria-hidden="true"
          >&rarr;</span
        ></a
      >
    </div>
  </div>
</main>
