<div class="flex justify-center">
  <div class="flex max-w-screen-lg" *transloco="let t; read: 'events'">
    <div class="event-inline-calendar-card m-5" *ngIf="!(isMobileOrTablet$ | async)!">
      <mat-card class="event-inline-calendar-card">
        <mat-calendar [startAt]="dateForm.value.start" [selected]="getSelectedDate()"
          (selectedChange)="rangeChanged($event)"></mat-calendar>
      </mat-card>
      <div class="w-full mt-5 flex flex-row justify-end">
        <ng-container *ngTemplateOutlet="create_event"></ng-container>
      </div>
    </div>
    <div class="grow m-1 md:m-5">
      <ng-container *ngIf="todayEvents$ | async as events">
        <ng-container *ngIf="events.length > 0">
          <h1 class="font-black">{{ t("today_events_title") }}</h1>
          <mat-list>
            <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
          </mat-list>
        </ng-container>
      </ng-container>
      <h1 class="font-black">{{ t("upcoming_events_title") }}</h1>
      <div *ngIf="(isMobileOrTablet$ | async)!">
        <mat-form-field appearance="fill">
          <mat-label>{{ t("date_range.label") }}</mat-label>
          <mat-date-range-input [formGroup]="dateForm" [rangePicker]="picker">
            <input matStartDate formControlName="start" [placeholder]="t('date_range.placeholder_start')" />
            <input matEndDate formControlName="end" [placeholder]="t('date_range.placeholder_end')" />
          </mat-date-range-input>
          <mat-hint>{{ t("date_range.hint") }}</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <ng-container *ngIf="upcomingEvents$ | async as events">
        <ng-container *ngFor="let date of getDatesInRange(); trackBy: trackByIndex">
          <ng-container *ngIf="getDateEvents(date, events) as dateEvents">
            <div mat-subheader class="font-bold">
              {{ date | translocoDate : { dateStyle: "full" } }}
            </div>
            <mat-list>
              <app-event-card *ngFor="let event of dateEvents" [event]="event"></app-event-card>
            </mat-list>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="mt-5 flex justify-center">
        {{ t('showing_events') }}
        &nbsp;
        <span class="font-medium">
          {{ dateForm.value.start | translocoDate : { dateStyle: "medium" } }}
        </span>
        &nbsp;
        {{ t('to') }}
        &nbsp;
        <span class="font-medium">
          {{ dateForm.value.end | translocoDate : { dateStyle: "medium" } }}
        </span>
      </div>
      <div class="mt-5 flex gap-2 justify-center">
        <button mat-raised-button extended color="basic" (click)="onLoadMore()">
          <mat-icon>hourglass_top</mat-icon>
          {{ t('load_more') }}
        </button>
        <ng-container *ngIf="(isMobileOrTablet$ | async)!">
          <ng-container *ngTemplateOutlet="create_event"></ng-container>
        </ng-container>
      </div>
      <div class="w-full mt-5 flex flex-row justify-center" *ngIf="(isMobileOrTablet$ | async)!">
      </div>
    </div>
    <ng-template #create_event>
      <button *isLogged="true" mat-raised-button extended color="accent" routerLink="/events/manage/create">
        <mat-icon>add</mat-icon>
        {{ t('create_event') }}
      </button>
    </ng-template>
  </div>
</div>