<ng-container *transloco="let t; read:'users.vekn_help'">
  <h1 mat-dialog-title>{{ t('title')}}</h1>
  <mat-dialog-content class="mat-typography">
    <h2>{{ t('what_title') }}</h2>
    <p>{{ t('what_description')}}</p>

    <h2>{{ t('create_title') }}</h2>
    <p>
      {{ t('create_description') }}
      <a mat-button color="primary" class="font-medium"
        href="https://www.vekn.net/index.php/vampire-elder-kindred-network/prince-list" target="_blank">
        {{ t('create_prince_link') }}
      </a>
    </p>


    <h2>{{ t('find_title') }}</h2>
    <p>
      {{ t('find_description') }}
      <a mat-button color="primary" class="font-medium" href="https://www.vekn.net/player-registry" target="_blank">
        {{ t('find_player_link') }}
      </a>
    </p>

    <h2>{{ t('more_title') }}</h2>
    <p>
      {{ t('more_description') }}
      <a mat-button color="primary" class="font-medium" href="https://www.vekn.net/v-ekn-faq/4-players-faq"
        target="_blank">
        {{ t('mode_faq_link') }}
      </a>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-container>