<mat-toolbar *transloco="let t; read:'header'">
  <mat-toolbar-row>
    <button mat-button routerLink="/" (click)="close()">{{ t('home') }}</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/events" (click)="close()">{{ t('events') }}</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/contact" (click)="close()">{{ t('contact') }}</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <app-language-selector></app-language-selector>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <app-theme-selector></app-theme-selector>
  </mat-toolbar-row>
  <mat-toolbar-row *isLogged="false" (click)="close()">
    <button mat-stroked-button color="primary" routerLink="/users/sign_in">
      {{ t('sign_in') }}
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *isLogged="false" (click)="close()">
    <button mat-raised-button color="primary" routerLink="/users/sign_up">
      {{ t('sign_up') }}
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *isLogged="true" (click)="close()">
    <button mat-button routerLink="/users/profile">
      {{ t('profile') }}
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *isLogged="true" (click)="close()">
    <button mat-raised-button color="warn" (click)="signOut()">
      {{ t('sign_out') }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>