<mat-list-item [activated]="true" *transloco="let t; read: 'events'">
  <a matListItemTitle [routerLink]="'/events/' + event.id">
    {{ event.name }}
  </a>
  <a matListItemLine [routerLink]="'/events/' + event.id">
    {{ event.rounds }} - {{ event.playerCount }} {{t('players')}}
  </a>
  <a matListItemLine [routerLink]="'/events/' + event.id">
    {{ event.city }}, {{ event.country }}
  </a>
  <div matListItemMeta>
  </div>
  <div matListItemMeta *isLogged="true">
    <ng-container *ngIf="(isMobile$ | async)!; else desktop">
      <a mat-icon-button extended color="primary" *ngIf="!event.isRegistered; else registered"
        [routerLink]="'/events/' + event.id + '/registration'" [disabled]="!event.registrationOpen"
        [matTooltip]="t('register')">
        <mat-icon>person_add</mat-icon>
      </a>
      <ng-template #registered>
        <a mat-icon-button color="accent" [routerLink]="'/events/' + event.id + '/registration'"
          [disabled]="!event.registrationOpen" [matTooltip]="t('deregister')">
          <mat-icon>how_to_reg</mat-icon>
        </a>
      </ng-template>
      <a *ngIf="(userVeknId$ | async)!.toString() === event.organizerVeknId" mat-icon-button color="accent" class="ms-2"
        [matTooltip]="t('manage')">
        <mat-icon>settings</mat-icon>
      </a>
    </ng-container>
    <ng-template #desktop>
      <a mat-flat-button extended color="primary" *ngIf="!event.isRegistered; else registered"
        [routerLink]="'/events/' + event.id + '/registration'" [disabled]="!event.registrationOpen">
        <mat-icon>person_add</mat-icon>
        <span>{{ t('register') }}</span>
      </a>
      <ng-template #registered>
        <a mat-flat-button color="warn" [routerLink]="'/events/' + event.id + '/registration'"
          [disabled]="!event.registrationOpen">
          <mat-icon>how_to_reg</mat-icon>
          <span>{{ t('deregister') }}</span>
        </a>
      </ng-template>
      <a *ngIf="(userVeknId$ | async)!.toString() === event.organizerVeknId" mat-flat-button color="accent"
        class="ms-2">
        <mat-icon>settings</mat-icon>
        <span>{{ t('manage') }}</span>
      </a>
    </ng-template>
  </div>
</mat-list-item>