<div class="isolate px-6 py-14 sm:py-22 lg:px-8" *transloco="let t; read:'contact'">
  <div>
    <h2 class="mt-6 text-center text-3xl font-bold">{{ t('title')}}</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="captchaRef.execute()" class="mx-auto max-w-xl mt-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-1 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <mat-form-field appearance="fill" class="input-form-field">
          <mat-label>{{ t('name.hint') }}</mat-label>
          <input matInput [placeholder]="t('name.placeholder')" formControlName="name" autocomplete="name" required>
          <mat-error *ngIf="name?.invalid">
            <span *ngIf="name?.errors?.['required']">
              {{ t('field') }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="sm:col-span-2">
        <mat-form-field appearance="fill" class="input-form-field">
          <mat-label>{{ t('email.hint') }}</mat-label>
          <input matInput [placeholder]="t('email.placeholder')" formControlName="email" autocomplete="email" required>
          <mat-error *ngIf="email?.invalid">
            <span *ngIf="email?.errors?.['required']">
              {{ t('field') }}
            </span>
            <span *ngIf="email?.errors?.['email']">
              {{ t('email.invalid') }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="sm:col-span-2">
        <mat-form-field appearance="fill" class="input-form-field">
          <mat-label>{{ t('message.hint') }}</mat-label>
          <textarea matInput name="message" id="message" formControlName="message" rows="4"
            [placeholder]="t('message.placeholder')" required></textarea>
          <mat-error *ngIf="message?.invalid">
            <span *ngIf="message?.errors?.['required']">
              {{ t('field') }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="successful">
      <div class="text-center mb-3 text-success">{{ t('contact.successful') }}</div>
    </div>
    <div *ngIf="error">
      <div class="text-center text-danger mb-3">
        <i class="bi bi-x-circle-fill"></i>&nbsp;{{ t('contact.failure') }}
        <a href="mailto:support@vtes.events">
          support@vtes.events
        </a>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="contact($event)"></re-captcha>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit" class="block w-full" [disabled]="form.invalid">
        {{ t('send') }}
      </button>
    </div>
  </form>
</div>