<div
  class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  *transloco="let t; read: 'users.thank_you'"
>
  <div
    class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-end md:text-right mb-16 md:mb-0 items-center text-center"
  >
    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">
      {{ t("title") }}
    </h1>
    <p class="mb-4">
      {{ t("verify") }}
    </p>
    <p class="mb-4">
      {{ t("email") }}
    </p>
  </div>
  <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
    <img
      class="object-cover object-center rounded"
      alt="Thanks You"
      src="/assets/img/vtes_loading.jpg"
    />
  </div>
</div>
