<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
  <main class="mt-16 main-container">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</mat-sidenav-container>