<footer class="text-center lg:text-left mat-toolbar mat-primary" *transloco="let t; read:'footer'">
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-3">
      <div class="">
        <h3 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          <img width="50" height="50" src="/assets/img/darkpack.png" alt="Dark Pack logo">
        </h3>
        <p class="text-sm">
          Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with
          permission. All rights reserved. For more information please visit worldofdarkness.com
        </p>
      </div>
      <div class="">
        <h3 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          {{ t('links') }}
        </h3>
        <p class="text-sm">
          <a routerLink="/contact">
            {{ 'header.contact' | transloco | titlecase }}
          </a>
          <!--TODO: Add all links-->
        </p>
      </div>
      <div>
        <h3 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          {{ t('contact') }}
        </h3>
        <p class="text-sm">
          <a href="https://gitlab.com/vtes-events" target="_blank">
            <div class="flex flex-row flex-nowrap items-center">
              <div class="flex-none"><img src="/assets/icons/gitlab.svg" aria-label="Gitlab" /></div>
              <div class="flex-auto">&nbsp;GitLab.com</div>
            </div>
          </a>
        </p>
        <p class="text-sm">
          <a href="mailto:support@vtes.events">
            <div class="flex flex-row flex-nowrap items-center">
              <div class="flex-none"><mat-icon aria-hidden="false" aria-label="Mail" fontIcon="mail"></mat-icon></div>
              <div class="flex-auto">&nbsp;support@vtes.events</div>
            </div>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="p-6 text-center text-base">
    <span>© 2023 Copyright:</span>
    <span class="font-semibold">VTES Events</span>
  </div>
</footer>