<ng-container *transloco="let t; read:'new_version_dialog'">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <div mat-dialog-content>
    <p>Changelog coming soon....</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="false" color="warn">
      {{ t('dismiss') }}
    </button>
    <button mat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>
      {{ t('apply') }}
    </button>
  </div>
</ng-container>