<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8" *transloco="let t; read:'page_not_found'">
  <div class="text-center">
    <h1 class="text-base font-semibold">404</h1>
    <h2 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">{{ t('title') }}</h2>
    <p class="mt-6 text-base leading-7">{{ t('message') }}</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button mat-raised-button color="primary" routerLink="/">{{ t('home_button') }}</button>
      <a mat-button class="text-sm font-semibold" routerLink="/contact">
        {{ t('contact_button') }}&nbsp;<span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </div>
</main>