<ng-container *transloco="let t; read: 'event.event'">
  <section *ngIf="(event$ | async) as event" class="py-10">
    <div class="container px-5 mx-auto flex lg:flex-nowrap flex-wrap">
      <div class="w-full flex flex-col md:ml-auto w-full pe-0 lg:pe-10">
        <div class="w-full mb-3">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2">
            {{ event.name }}
          </h1>
          <div class="h-1 w-24 bg-indigo-500 rounded"></div>
        </div>
        <div class="flex py-2">
          <span class="font-medium">{{ t('status') }}</span>
          <span class="ml-auto">{{ event.registrationOpen ? t('open') : t('closed') }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('date') }}</span>
          <span class="ml-auto">{{ event.date }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('time') }}</span>
          <span class="ml-auto">{{ event.time }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('type') }}</span>
          <span class="ml-auto">{{ event.eventType }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('rounds') }}</span>
          <span class="ml-auto">{{ event.rounds }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('players') }}</span>
          <span class="ml-auto">{{ event.playerCount }}</span>
        </div>
        <div class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('proxies_allowed') }}</span>
          <span class="ml-auto">{{ event.proxiesAllowed ? t('yes') : t('no') }}</span>
        </div>
        <div *ngIf="event.email" class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('email') }}</span>
          <a class="text-blue-600 ml-auto" [href]="'mailto:'+event.email">{{ event.email }}</a>
        </div>
        <div *ngIf="event.phoneNumber" class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('phone') }}</span>
          <span class="ml-auto">{{ event.phoneNumber }}</span>
        </div>
        <div *ngIf="event.website" class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('website') }}</span>
          <a class="text-blue-600 ml-auto" [href]="event.website" target="_blank">{{ event.website }}</a>
        </div>
        <div *ngIf="event.registrationFee" class="flex border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('registration_fee') }}</span>
          <span class="ml-auto">{{ event.registrationFee }}</span>
        </div>
        <div *ngIf="event.description" class="flex flex-col border-t border-indigo-200 py-2">
          <span class="font-medium">{{ t('description') }}</span>
          <span class="mt-1">{{ event.description }}</span>
        </div>
        <div class="flex gap-2 justify-center mt-3 pb-6" *isLogged="true">
          <a mat-flat-button extended color="primary" *ngIf="!event.isRegistered; else registered"
            [routerLink]="'/events/' + event.id + '/registration'" [disabled]="!event.registrationOpen">
            <mat-icon>person_add</mat-icon>
            <span>{{ t('register') }}</span>
          </a>
          <ng-template #registered>
            <a mat-flat-button color="warn" [routerLink]="'/events/' + event.id + '/registration'"
              [disabled]="!event.registrationOpen">
              <mat-icon>how_to_reg</mat-icon>
              <span>{{ t('deregister') }}</span>
            </a>
          </ng-template>
          <a *ngIf="(userVeknId$ | async)!.toString() === event.organizerVeknId" mat-flat-button color="accent"
            class="ms-2">
            <mat-icon>settings</mat-icon>
            <span>{{ t('manage') }}</span>
          </a>
        </div>
      </div>
      <div
        class="w-full min-h-[40rem] bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0"
          marginwidth="0" scrolling="no" [src]="mapUrl"></iframe>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
          <div class="lg:w-full px-6 text-black">
            <p class="mt-1 font-bold" *ngIf="event.venueName">{{ event.venueName }}</p>
            <p class="mt-1">{{ event.address }}</p>
            <p class="mt-1">{{ event.city }}, {{ event.country }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>