<div
  class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8"
  *transloco="let t; read: 'users'"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold">
        {{ t("sign_up_title") }}
      </h2>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="form"
      (ngSubmit)="captchaRef.execute()"
    >
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("username.hint") }}</mat-label>
            <input
              matInput
              [placeholder]="t('username.placeholder')"
              formControlName="username"
              autocomplete="username"
              required
            />
            <mat-error *ngIf="username?.invalid">
              <span *ngIf="username?.errors?.['required']">
                {{ t("field") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("email.hint") }}</mat-label>
            <input
              matInput
              [placeholder]="t('email.placeholder')"
              formControlName="email"
              autocomplete="email"
              required
            />
            <mat-error *ngIf="email?.invalid">
              <span *ngIf="email?.errors?.['required']">
                {{ t("field") }}
              </span>
              <span *ngIf="email?.errors?.['email']">
                {{ t("email.invalid") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("veknId.hint") }}</mat-label>
            <input
              matInput
              [placeholder]="t('veknId.placeholder')"
              formControlName="veknId"
              required
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="showVeknIdHelp()"
              [attr.aria-label]="'Help'"
            >
              <mat-icon>help</mat-icon>
            </button>
            <mat-error *ngIf="veknId?.invalid">
              <span *ngIf="veknId?.errors?.['required']">
                {{ t("field") }}
              </span>
              <span *ngIf="veknId?.errors?.['pattern']">
                {{ t("veknId.pattern") }}
              </span>
              <span *ngIf="password?.errors?.['maxlength']">
                {{ t("veknId.pattern") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("password.hint") }}</mat-label>
            <input
              matInput
              [placeholder]="t('password.placeholder')"
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              autocomplete="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePassword()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="password?.invalid">
              <span *ngIf="password?.errors?.['required']">
                {{ t("field") }}
              </span>
              <span *ngIf="password?.errors?.['hasNumber']">
                {{ t("password.number") }}
              </span>
              <span *ngIf="password?.errors?.['minlength']">
                {{ t("password.length") }}
              </span>
              <span *ngIf="password?.errors?.['noPasswordMatch']">
                {{ t("password.match") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("confirmPassword.hint") }}</mat-label>
            <input
              matInput
              [placeholder]="t('confirmPassword.placeholder')"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              required
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="toggleConfirmPassword()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirmPassword"
            >
              <mat-icon>{{
                hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="confirmPassword?.invalid">
              <span *ngIf="confirmPassword?.errors?.['required']">
                {{ t("field") }}
              </span>
              <span *ngIf="confirmPassword?.errors?.['hasNumber']">
                {{ t("password.number") }}
              </span>
              <span *ngIf="confirmPassword?.errors?.['minlength']">
                {{ t("password.length") }}
              </span>
              <span *ngIf="confirmPassword?.errors?.['noPasswordMatch']">
                {{ t("password.match") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <mat-checkbox formControlName="terms" color="primary" required>
            {{ t("terms") }}
          </mat-checkbox>
          <!--TODO: Implement terms-->
        </div>
        <div class="text-sm">
          <a
            mat-button
            color="primary"
            class="font-medium"
            routerLink="/users/sign_in"
          >
            {{ t("already_sign_up") }}
          </a>
        </div>
      </div>
      <mat-error class="text-center mb-3 whitespace-pre-wrap" *ngIf="error">
        {{ error | mapError | async }}
      </mat-error>
      <div class="flex items-center justify-center">
        <re-captcha
          size="invisible"
          #captchaRef="reCaptcha"
          (resolved)="signUp($event)"
        ></re-captcha>
      </div>
      <div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full"
          [disabled]="form.invalid"
          *ngIf="!loading; else buttonLoading"
        >
          {{ t("sign_up_button") }}
        </button>
        <ng-template #buttonLoading>
          <button
            mat-raised-button
            color="primary"
            class="w-full"
            [disabled]="true"
          >
            <mat-spinner [diameter]="30"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
