@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$orange-palette),
    ),
    // Only include `typography` and `density` in the default light theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette),
      accent: mat.define-palette(mat.$orange-palette),
    ),
  )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($light-theme);
@include mat.typography-hierarchy($light-theme);

.color-scheme-dark {
  @include mat.all-component-colors($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
