.docs-header {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.docs-header::before {
  position: absolute;
  content: "";
  background-image: url("/assets/img/vampire_background.webp");
  background-size: 300px;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 90% 90%;
  opacity: 0.3;
}

.docs-header-section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
