<ng-container *transloco="let t; read:'home'">
  <header aria-label="Get started" class="docs-header text-white -mt-2 mat-toolbar mat-primary">
    <div class="docs-header-section">
      <div class="docs-header-headline">
        <img class="mx-auto mb-4 h-auto w-full max-w-sm" src="/assets/img/logo_name.svg" alt="VTES Events" />
        <h2>{{ t('slogan') }}</h2>
        <h3 [innerHTML]="t('claim')"></h3>
      </div>
      <div class="docs-header-start" *isLogged="false">
        <button mat-raised-button color="accent" routerLink="/users/sign_up">{{ t('get_started') }}</button>
      </div>
      <div class="docs-header-start" *isLogged="true">
        <button mat-raised-button color="accent" routerLink="/events">{{ t('events') }}</button>
      </div>
    </div>
  </header>
  <section class="my-5">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg mat-toolbar mat-primary">
                <mat-icon>event</mat-icon>
              </div>
              {{ t('feature_name_1')}}
            </dt>
            <dd class="mt-2 text-base leading-7">{{ t('feature_desc_1') }}</dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg mat-toolbar mat-primary">
                <mat-icon>settings</mat-icon>
              </div>
              {{ t('feature_name_2')}}
            </dt>
            <dd class="mt-2 text-base leading-7">
              {{ t('feature_desc_2')}}</dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg mat-toolbar mat-primary">
                <mat-icon>accessibility</mat-icon>
              </div>
              {{ t('feature_name_3') }}
            </dt>
            <dd class="mt-2 text-base leading-7">
              {{ t('feature_desc_3') }}
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg mat-toolbar mat-primary">
                <mat-icon>hub</mat-icon>
              </div>
              {{ t('feature_name_4') }}
            </dt>
            <dd class="mt-2 text-base leading-7">
              {{ t('feature_desc_4') }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

</ng-container>