<ng-container *transloco="let t">
  <button mat-button *ngIf="(isMobile$ | async)!" [attr.aria-label]="t('header.language')" [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>{{ t('header.language') }}
  </button>
  <button mat-icon-button *ngIf="!(isMobile$ | async)!" [attr.aria-label]="t('header.language')"
    [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
  </button>
</ng-container>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let language of languages" [disabled]="selectedLanguages === language.value"
    (click)="changeLanguage(language.value)">
    {{ language.viewValue }}
  </button>
</mat-menu>