<div class="isolate px-6 py-14 sm:py-22 lg:px-8" *transloco="let t; read: 'event.registration'">
  <ng-container *ngIf="event$ | async as event">
    <div>
      <h1 class="mt-6 text-center text-3xl font-bold">{{ t("title") }}</h1>
      <h2 class="mt-6 text-center text-2xl font-bold">{{ event.name }}</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="register()" class="mx-auto max-w-xl mt-8">
      <div class="grid grid-cols-1 gap-x-8 gap-y-1 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>{{ t("deck.hint") }}</mat-label>
            <textarea matInput name="deck" id="deck" formControlName="deck" [placeholder]="t('deck.placeholder')"
              required maxlength="5120" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="20"></textarea>
            <mat-error *ngIf="deck?.invalid">
              <span *ngIf="deck?.errors?.['required']">
                {{ t("field") }}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="error">
        <mat-error class="text-center mb-3">
          {{ error | mapError | async }}
        </mat-error>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit" class="block w-full" [disabled]="form.invalid">
          <span *ngIf="!event.isRegistered">
            {{ t("register") }}
          </span>
          <span *ngIf="event.isRegistered">
            {{ t("update") }}
          </span>
        </button>
      </div>
    </form>
    <div class="mx-auto max-w-xl mt-3">
      <button mat-raised-button color="warn" class="block w-full" (click)="deregister()" *ngIf="event.isRegistered">
        {{ t("deregister") }}
      </button>
    </div>
  </ng-container>
</div>